<!-- index.html -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Times</title>
  </head>
  <body>
    <h1>영화 시간표</h1>

    <a href="/get-movie-times">크롤링하기</a>
  </body>
</html>
